body{background-color:#A3C0D4;}

h1{background-color: #1F5C51;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family: courier;
	font-size: 45px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #858585;
	border-style: dotted;
	border-width: 10px;
	border-color: #FBDBFF;}

p{
	color: #C211BA;
	font-family: Verdana;
	font-size: 17px;
	margin-left: 75px;
	margin-right: 75px;
	text-align: center;
	margin-bottom: 75px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-width: 26px;
	border-color: #FFFFFF;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color:#BED474;
	display: flex;
	border: 2px dotted; #FFFFFF;
}

ul li a{ 
	display: block;
	color:#691E41;
	padding: 25px 20px;
	text-decoration: none;
	font-family: courier;
	font-size: 24px;
}

a:hover{
	background: white;
	font-size: 32px;
}

li{
	border-right: 2px dotted #FFFFFF;
}

li:last-child {
	border-right: none;
}










